.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 45px;
  left: 0;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 150px;
  z-index: 200;
  background-color: white;
  cursor: pointer;
}

.sidebar-home,
.sidebar-explore,
.sidebar-subscriptions,
.sidebar-originals,
.sidebar-youtubemusic,
.sidebar-library
{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;
  width: 77px;
}

.sidebar-home:hover,
.sidebar-explore:hover,
.sidebar-subscriptions:hover,
.sidebar-originals:hover,
.sidebar-youtubemusic:hover,
.sidebar-library:hover {
  background-color: gray;
}

.sidebar img {
  width: 22px;
  height: 22px;
  object-fit: cover;
}

.sidebar p {
  font-size: 10px;
}