.flex1 {
  display: flex;
  flex-direction: row;
  height: 80px;
}

.div1 {
  background-color: lightpink;
  width: 150px;
}

.div2 {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  width: 300px;
}

.in2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inner1, .inner2 {
  margin-top: 10px;
  background-color: black;
  color: white;
}