div {
  font-family: Arial;
}

body {
  height: 3000px;
}

.div1 {
  position: relative;
  display: inline-block;
}

.pic1 {
  width: 300px;
}

.discount1 {
  position: absolute;
  top: 10px;
  right: 0;
  background-color: gray;
  color: white;
}