.p-00, .p-01 {
  display: inline-block;
  width: 150px;
  height: 280px;
  border: none;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgba(121, 107, 107, 0.637);
  box-shadow: 0 2px 2px rgba(121, 107, 107, 0.637);
  margin-right: 20px;
  vertical-align: top;
}



.p-1, .p-2, .p-3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.p-0 {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.p-1 {
  font-weight: bold;
  color: black;
}

.p-2 {
  font-size: 12px;
  color: gray;
  border: none;
  font-weight: bold;
  vertical-align: center;
}

.p-3 {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  font-weight: bold;
  vertical-align: center;
}
