.p-0, .p-1 {
  display: block;
  margin-bottom: 0;
}

.p-0 {
  margin-left: 450px;
  margin-bottom: 50px;
}

.p-1 {
  color: gray;
  border-style: solid;
  border-radius: 20px;
  width: 500px;
  height: 40px;
  margin-left: 330px;
}